@use '../../../../styles/vars' as *;

.meta {
  position: relative;

  display: flex;
  flex-direction: column;
  row-gap: 32px;

  padding: 24px 16px;

  &__decor {
    position: absolute;
    width: 100%;
    height: 16px;
    background-color: $accent-color;
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
    z-index: 1;
    top: 0;
    left: 0;
  }

  &__block {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  &__input {
    font-size: 24px;
  }

  &__error {
    font-size: 16px;
    font-weight: 600;
    color: red;
  }
}
