@use '../../../../styles/vars' as *;

.option {
  display: flex;
  align-items: center;
  column-gap: 16px;

  &__input {
    flex: 1;
  }

  &__btn {
    border-radius: 50%;
    padding: 12px;
    background-color: $bg-primary-surface;
    transition:
      background-color $transition-duration ease,
      filter $transition-duration ease;

    &:hover {
      background-color: $bg-secondary-surface;
    }

    &:active {
      filter: brightness(0.9);
    }
  }
}
