@use '../../../../styles/vars' as *;
@use '../../../../styles/mixins' as *;

.meta {
  position: relative;
  padding: 24px 16px;

  display: flex;
  flex-direction: column;
  row-gap: 24px;

  &__decor {
    position: absolute;
    width: 100%;
    height: 16px;
    background-color: $accent-color;
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
    z-index: 1;
    top: -2px;
    left: 0;
  }

  &__title {
    font-size: 22px;
    line-height: 1.2;

    @include on-tablet {
      font-size: 24px;
    }

    @include on-desktop {
      font-size: 28px;
    }
  }

  &__description {
    line-height: 1.2;
    color: $text-secondary;
  }
}
