@use '../../../styles/vars' as *;

.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  &__input {
    display: none;
  }

  &__box {
    width: 16px;
    height: 16px;
    border: 2px solid $border-gray;
    border-radius: 4px;
    margin-right: 8px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 4px;
      top: 0px;
      width: 6px;
      height: 10px;
      border: solid $text-primary;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0;
      transition: opacity $transition-duration ease;
    }
  }

  &__input:checked + &__box::after {
    opacity: 1;
  }

  &__label {
    user-select: none;
  }
}
