$tablet-min-width: 640px;
$desktop-min-width: 1200px;

$bg-primary-surface: #fff;
$bg-secondary-surface: #f1f3f4;
$bg-color: #f0ebf8;
$text-primary: #1f1f1f;
$text-secondary: #80868b;
$text-white: #ffffff;
$accent-color: #673ab7;
$border-gray: #dadce0;
$color-skeleton-gradient-start: #fcfcfc;
$color-skeleton-gradient-end: #f2f2f2;

$transition-duration: 0.3s;
$font-open-sans: 'Open Sans', sans-serif;
$form-card-height: 210px;
$border-radius-base: 15px;
